<%- include('partials/header.ejs') %>
<body>
    <h1>Error en registro</h1>
 <ul>
    <% messages.forEach(message => { %>
      <li><%= message %></li>  
       <% }) %>
 </ul>

 <a href="/register">Volver</a>

</body>