<%- include('partials/header.ejs') %>


<main class="container">
    <h1>Portal del Usuario</h1>

    <h2>Bienvenido <%= user.nick %></h2>
    
    <a href="/api/session/logout"><button class="btn btn-primary">Logout</button></a>
</main>
